.lnb {
  $lnb-link: 8px;
  overflow-x: auto;

  @include no-scrollbar;

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    position: relative;
    height: 40px;
    left: -8px;
    padding: 0 7px;
    margin-left: -15px;
    border-bottom: 1px solid $border;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      text-align: center;
      padding: 0 $lnb-link;
      height: 40px;
      border-bottom: 2px solid transparent;
    }

    &:active,
    &:hover {
      color: $blue;
    }
    &:active {
      a::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -8px;
        width: 100%;
        border-bottom: 2px solid $blue;
      }
    }
  }
}
