.search-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 12px 0;
  background-color: $white;
  z-index: $serach-modal-level;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between);

    .input-group {
      flex-grow: 1;
    }

    .btn-ghost {
      flex-shrink: 0;
      flex-grow: 0;
      margin-left: 8px;
      width: 56px;
    }
  }

  .search-history {
    $close-button-size: 32px;

    &-header {
      @include flexbox(between);
      margin-bottom: 8px;

      .title,
      button {
        @include text-style(13, $secondary);
      }
    }

    &-content {
      .placeholder {
        @include flexbox(start);
        @include text-style(16, $tertiary);
        width: 100%;
        height: 44px;
        padding: 0 8px;
        font-weight: 400;
      }
    }

    &-item {
      @include flexbox(between);
      position: relative;
      border-radius: 2px;

      &:hover {
        background-color: $background;
      }

      .word-button {
        @include text-style(16, $primary);
        font-weight: 400;
        padding: 10px $close-button-size 10px 8px;
        text-align: left;
        width: 100%;
      }

      .delete-button {
        @include flexbox;
        position: absolute;
        right: 0;
        top: 6px;
        width: $close-button-size;
        height: $close-button-size;
        font-size: 16px;
        color: $tertiary;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
