@font-face {
  font-family: 'tommorow';
  src: url('assets/fonts/tommorow.eot?56zb2y');
  src: url('assets/fonts/tommorow.eot?56zb2y#iefix') format('embedded-opentype'),
    url('assets/fonts/tommorow.ttf?56zb2y') format('truetype'),
    url('assets/fonts/tommorow.woff?56zb2y') format('woff'),
    url('assets/fonts/tommorow.svg?56zb2y#tommorow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
