%tags-base {
  // 공통 스타일
  @include inline-flexbox;
  @include text-style(12);
  height: 20px;
  padding: 0 6px;
  font-weight: 700;
  border-radius: 4px;
}

.tag-red {
  @extend %tags-base;
  color: $white;
  background-color: $red;
}

.tag-gray {
  @extend %tags-base;
  color: $secondary;
  background-color: $border;
}

.tag-green {
  @extend %tags-base;
  color: $white;
  background-color: $green;
}
